<!doctype html>
<html ng-app="awApp">
<head>
<title>ArchivesWest.js</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src = "/js/awjs.js"></script>
</head>

<body>
	<div ng-include="'/templates/header.html'"></div>
	<div id="main">
	<!-- stuff goes here -->
	
	<div class="container">
		<div class="jumbotron">
		<h1>AW.js</h1> 
		<p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first projects on the web.</p> 
  </div>
  
		<div class="container" ng-controller="searchController">
	
		<button ng-click="getResults()">Get All Data</button>	

	<p>Results:</p>
	<ul>
		<!-- Render a li element for every entry in the items array. Notice
			 the custom search filter "searchFor". It takes the value of the
			 searchString model as an argument.
		 -->
		<li ng-repeat="i in items">
			<a href="{{i.url}}"><img ng-src="{{i.image}}" /></a>
			<p>{{i.title}}</p>
		</li>
	</ul>
		 <p ng-bind="ResponseDetails"></p>
    {{ResponseDetails}}
		
		</div> <!-- controller ->
	
	</div> <!-- main -->
</body>
</html>